:host {
    display: flex;
    justify-content: end;
    box-sizing: border-box;
    margin: 15px;
    width: auto;
}

.app-header {
    color: black;
    background: #fefefe;
    min-height: 65px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    height: 0;
}