/* You can add global styles to this file, and also import other style files */
body {
    box-sizing: border-box;
    background: linear-gradient(
        to right,
        #d8d9e2 0%,
        #d8d9e2 70%,
        #d92f2e 70%,
        #d92f2e 100%
    );
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #d92f2e  white;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: white;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #d92f2e ;
    border-radius: 20px;
    border: 3px solid white;
  }


.mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: #d8d9e2  !important;
}

mat-dialog-content > .mat-mdc-button {
  background: #1f285a !important;
}

mat-form-field > .mdc-text-field {
  background: #1f285a !important;
  border-radius: 10px;
}

mat-mdc-select-panel {
  background: #1f285a !important;
}

.mdc-text-field--focused {
  color: white !important;
}

.mdc-floating-label--float-above {
  color: white !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-bottom-color: #ff0000 !important;
}